@model Kalitte.Services.HeaderedPageModel<Kalitte.Models.CreateNewsViewModel>

@{
    ViewBag.Title = "Haber Oluştur";
}

@Html.Partial("_PageHeader", Model)


@using (Html.BeginForm("Create", "ManageNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PageModel.Header, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PageModel.Header, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.PageModel.Header, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PageModel.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PageModel.Body, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PageModel.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PageModel.NewsTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(d=> d.PageModel.SelectedNewsCategory, Model.PageModel.NewsTypes, "Haber Tipi", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PageModel.SelectedNewsCategory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Image Data</label>
            <div class="col-md-10">
                <input type="file" name="newsImage" id="ImageData" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="margin-left">
    <a href="@Url.Action("Index", "ManageNews")" class="btn btn-default"><i class="fa fa-backward"></i> Haber Listesi</a>
</div>
