@model Kalitte.Models.HeaderedPageModel<IEnumerable<Kalitte.Models.NewsListingViewModel>>

@{
    ViewBag.Title = "Tüm Haberler";
    Kalitte.Models.NewsListingViewModel columnsDummy = null;
}

@Html.Partial("_PageHeader",Model)

<div id="returnMessage"></div>

<a href="@Url.Action("Create", "ManageNews")" class="margin-left "><i class="fa fa-3x fa-plus-circle custom-padding-top"></i></a>
<div class="row-cont">
    <div class="row news-row">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => columnsDummy.Header)
        </div>
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => columnsDummy.Body)
        </div>
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => columnsDummy.UserName)
        </div>
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => columnsDummy.CreateDate)
        </div>
        <div class="col-xs-1">
            @Html.DisplayNameFor(model => columnsDummy.SelectedNewsCategory)
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>



@foreach (var item in Model.PageModel)
{
    <div class="row-cont news">
        <div class="row newsitem-row">
            <div class="col-xs-2">
                @Html.DisplayFor(modelItem => item.Header)
            </div>
            <div class="col-xs-3">
                @Html.DisplayFor(modelItem => item.Body)
            </div>
            <div class="col-xs-2">
                @Html.DisplayFor(modelItem => item.UserName)
            </div>
            <div class="col-xs-2">
                @Html.DisplayFor(modelItem => item.CreateDate)
            </div>
            <div class="col-xs-1">
                @Html.DisplayFor(modelItem => item.SelectedNewsCategory)
            </div>
            <div class="col-xs-2">
                <a href=""><i class="fa fa-edit fa-lg"></i></a> |
                <a href="@Url.Action("Details", "ManageNews", new { id = item.Id })"><i class="fa fa-search fa-lg"></i></a> |
                <button type="button" class="btn deleteNews" data-id="@item.Id"><i class="fa fa-trash-o fa-lg"></i></button> 
            </div>
        </div>
    </div>

}

@section customScripts {
    <script>

    $('.deleteNews').click(function() {
        var self = $(this);
        $.ajax({
            url: '/managenews/delete',
            type: 'POST',
            data: JSON.stringify({ id: self.data('id') }),
            contentType: 'application/json',
            success: function (response) {
                $('#returnMessage').html(response);
                self.parents('.news').hide('slow', function () { $(this).remove() });
            },
            fail: function(response) {
                $('#returnMessage').html(response);
            }

        });
    })

</script>

    }


